@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import url('fontawesome-all.min.css');

/* jet-black #444548 */
body {
  font-family: 'Fjalla One', sans-serif;
  margin: 0px;
  /* background-image: url('images/cool_giiffy.gif'); */
  /* background-image: url('images/deluxoOG.gif'); */
  background-color: black;
  height: 100%;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* nav styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/* LAST THINGS ADDED */
.active-nav-link {
  border-bottom: 1px solid darkgrey;
}

.active-nav-link a {
  color: lightgrey !important;
}

/* nav styles end*/
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* portfolio styles  grid-spacing*/
.portfolio-items-wrapper {
  display: grid;
  gap: 1rem;
  padding: 15px;

  /* Explicit Grid */
  grid-template-areas:
    'a  b  c  d'
    'l  m n e'
    'k  o p f'
    'j  i  h  g';

  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: 240px auto auto 240px;
  --stagger-delay: 100ms;
}

.portfolio-item-wrapper {
  position: relative;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

/* holds images */
.portfolio-img-background {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
  /* testing */
  border-radius: 15px 50px 30px 5px;
  /* padding: 20px; */
  /* width: 200px; */
  /* height: 150px; */
}

.portfolio-img-background:nth-child(1) {
  grid-area: a;
  animation-delay: calc(1 * var(--stagger-delay));
}
.portfolio-img-background:nth-child(2) {
  grid-area: b;
  animation-delay: calc(2 * var(--stagger-delay));
}
.portfolio-img-background:nth-child(3) {
  grid-area: c;
  animation-delay: calc(3 * var(--stagger-delay));
}
.portfolio-img-background:nth-child(4) {
  grid-area: d;
  animation-delay: calc(4 * var(--stagger-delay));
}
.portfolio-img-background:nth-child(5) {
  grid-area: e;
  animation-delay: calc(5 * var(--stagger-delay));
}
.portfolio-img-background:nth-child(6) {
  grid-area: f;
  animation-delay: calc(6 * var(--stagger-delay));
}
.portfolio-img-background:nth-child(7) {
  grid-area: g;
  animation-delay: calc(7 * var(--stagger-delay));
}
.portfolio-img-background:nth-child(8) {
  grid-area: h;
  animation-delay: calc(8 * var(--stagger-delay));
}
.portfolio-img-background:nth-child(9) {
  grid-area: i;
  animation-delay: calc(9 * var(--stagger-delay));
}
.portfolio-img-background:nth-child(10) {
  grid-area: j;
  animation-delay: calc(10 * var(--stagger-delay));
}
.portfolio-img-background:nth-child(11) {
  grid-area: k;
  animation-delay: calc(11 * var(--stagger-delay));
}
.portfolio-img-background:nth-child(12) {
  grid-area: l;
  animation-delay: calc(12 * var(--stagger-delay));
}
/* .portfolio-img-background:last-child {
  grid-area: 🌟;
  animation-delay: calc(13 * var(--stagger-delay));
} */

.portfolio-img-background:hover {
  transform: translateY(-3px) scale(1.1);
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* hold images end */

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-wrapper img {
  position: absolute;
  /* width: 50%;
  margin-bottom: 20px; */
  width: 50%;
  height: 50px;
  bottom: 0px;
  right: 25%;
  left: 85%;
  margin-left: -150px;
}

/*  */
.img-text-wrapper .subtitle {
  transition: 1s;
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: lightseagreen;
}

/* 1.10 */
.img-darken {
  transition: 1s;
  filter: brightness(10%);
}

/* ABOUT PAGE*/

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}

/* footer */
